{{#if errorMessage}}
  <div class='apple-pay-button__error' data-test-error={{errorMessage}}>
    {{errorMessage}}
  </div>
{{/if}}

{{#if successMessage}}
  <div class='apple-pay-button__success' data-test-success={{successMessage}}>
    {{successMessage}}
  </div>
{{/if}}

<button {{action 'beginApplePay'}}
        class="apple-pay-button {{if isAvailable "is-available"}}"
        disabled={{disabled}}
        data-test-pay>
</button>
