<article class="show-item container {{if isFocused 'is-focused'}}"
  data-test-item={{item.id}}
  data-item-id={{item.id}}>
  <div class="show-item__image row">
    <img src={{item.url}} class='img-fluid'>
  </div>

  {{#if isFocused}}
    <div class="show-item__sms">
      <a href={{smsHref}}>Share by SMS</a>
    </div>
  {{/if}}

  <footer class='show-item__footer row py-1'>
    <h1 class='show-item__name col col-6'>{{item.name}}</h1>
    <div class='show-item__price col col-6'>{{price-in-dollars item.price}}</div>
  </footer>
</article>