<script src="https://checkout.stripe.com/checkout.js"></script>

{{#if errorMessage}}
  <div class='stripe-checkout__error' data-test-error={{errorMessage}}>
    {{errorMessage}}
  </div>
{{/if}}

{{#if successMessage}}
  <div class='stripe-checkout__success' data-test-success={{successMessage}}>
    {{successMessage}}
  </div>
{{/if}}

<button {{action 'checkout'}}
        class='stripe-checkout__button btn btn-block btn-primary'
        disabled={{disabled}}>
  Pay with Credit Card
</button>
