<div class='viewport d-flex flex-column'>
  <header class='app-header navbar navbar-inverted flex-row justify-content-between'>
    <div class='navbar-action'>
      {{#from-elsewhere name="header" as |header|}}
        {{#liquid-bind header rules=animationRules as |opts|}}
            {{#if opts.component}}
              {{component opts.component}}
            {{/if}}
        {{!-- <div class="col-2 align-self-center">
            {{#if cart.quantity}}
              {{#link-to 'cart' data-test-selector="view-cart"}}
                Cart: <span data-test-cart-quantity>{{cart.quantity}}</span>
              {{/link-to}}
            {{/if}}
          </div> --}}
          {{!-- <div class="col-8 align-self-center">
            <h1 class='section-store__title'>{{opts.title}}</h1>
          </div> --}}
        {{/liquid-bind}}
      {{/from-elsewhere}}
    </div>
    <h1 class='navbar-brand mx-1'>Bodega</h1>
    <a href="https://www.201-created.com/"><small class='colophon navbar-text'>{{svg-logo}}<span class='font-size-xs'>experiment</span></small></a>
  </header>

  <div class='viewport-content d-flex flex-column flex-md-row justify-content-stretch no-gutters'>
    <main class='app-body d-flex flex-column col-md-8 col-lg-9'>
      {{liquid-outlet}}
    </main>

    <footer class='app-footer d-flex flex-column col-md-4 col-lg-3'>
      {{#from-elsewhere name="footer" as |footer|}}
        {{#liquid-bind footer class='liquid-footer' rules=footerAnimationRules as |component|}}
          <div class='toolbar-content'>
            {{#if component}}
              {{component component}}
            {{else}}
              Add items to your cart
            {{/if}}
          </div>
        {{/liquid-bind}}
      {{/from-elsewhere}}
    </footer>
  </div>
</div>