<div class='header container-fluid'>
  {{#from-elsewhere name="header" as |header|}}
    {{#liquid-bind header rules=animationRules as |opts|}}
      <div class='row align-content-stretch header-height'>
        <div class="col-2 align-self-center">
          {{#if opts.component}}
            {{component opts.component}}
          {{/if}}
        </div>

        <div class="col-8 align-self-center">
          <h1 class='section-store__title'>{{opts.title}}</h1>
        </div>

        <div class="col-2 align-self-center">
          {{#if cart.count}}
            {{#link-to 'cart' data-test-selector="view-cart"}}
              Cart: <span data-test-cart-count>{{cart.count}}</span>
            {{/link-to}}
          {{/if}}
        </div>
      </div>
    {{/liquid-bind}}
  {{/from-elsewhere}}
</div>

<div class='scroll-container'>
  {{liquid-outlet}}
</div>

<div class='footer'>

  {{#from-elsewhere name="footer" as |footer|}}
    {{#liquid-bind footer class='liquid-footer' rules=footerAnimationRules as |component|}}
      <div class='toolbar-content'>
        {{#if component}}
          {{component component}}
        {{else}}
          <div class='footer-message'>
            Stickers by 201 Created
          </div>
        {{/if}}
      </div>
    {{/liquid-bind}}
  {{/from-elsewhere}}
</div>
