<h1 data-test-success-message>
  Purchase is on its way.
</h1>

Expect a confirmation email

<div>
  Order ID: {{model.id}}
</div>

<div>
  Name: {{model.givenName}} {{model.familyName}}
</div>

<div>
  Email: {{model.emailAddress}}
</div>

<div>
  {{#each model.addressLines as |line|}}
    {{line}}
  {{/each}}

  {{model.locality}}, {{model.administrativeArea}} {{model.postalCode}}
</div>

{{show-item item=model.item}}

{{link-to 'Buy more stickers' 'application'}}

{{to-elsewhere named="header" send=(hash component=(component "back-button") title="Success!")}}
